/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

@page {
  margin: 5mm; /*print邊界*/
  size:297mm 210mm; /*列印紙張大小*/
}
.print {
  page-break-after:always; /*print分頁面*/
}
@media print {
  .imgs{
    width: 100px;
  }
  button{
    display:none;
  }
}