
<div [formGroup]="form">
    <ng-container #formly *ngFor="let item of struct;"></ng-container>
    <!-- <app-dynamic-component *ngFor="let item of struct"  [component]="item.type"></app-dynamic-component> -->
</div>
{{form.value|json}}
<ng-container app-counter-component></ng-container>
<table>
    <tr >
        <th style="border: solid;" *ngFor="let key of keys()">{{key}}</th>
    </tr>
    <tr style="border: solid;">
        <td style="border: solid;" *ngFor="let value of values()">{{value}}</td>
    </tr>
</table>
